<h1>Locations#index</h1>

<% @location.each do |c| %>
    <h4><%= c.name %></h4>
    <h4><%= c.type_loc %></h4>
    <h4><%= c.dimension %></h4>
    <%= link_to 'Ver', location_path(c) %>
     <% end %>
